rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Rules for users collection (allow read/write for store & admin)
    match /users/{userId} {
      allow read, write: if true;
    }

    // Rules for purchases collection (allow read/write for store & admin)
    match /purchases/{purchaseId} {
      allow read, write: if true;
    }

    // Rules for gift_cards collection (allow read/write for store & admin)
    match /gift_cards/{cardId} {
      allow read, write: if true;
    }

    // Rules for debit_cards collection (allow read/write for store & admin)
    match /debit_cards/{cardId} {
      allow read, write: if true;
    }
  }
}


